{% extends "layout.html.twig" %}

{% block content %}
    {% if snippet.id is defined %}
        <form method="post" action="/edit/{{ snippet.id }}">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="snippet[id]" value="{{ snippet.id }}" />
    {% else %}
        <form method="post" action="/add">
    {% endif %}

        <label for="snippet[title]">Title:</label>
        <input type="text" name="snippet[title]" value="{{ snippet.title }}" />

        <label for="snippet[keywords][0]">Keywords:</label>
        <ul class="tags">
            {% for key, keyword in snippet.keywords %}
                <li><input type="text" name="snippet[keywords][{{ key }}]" value="{{ keyword }}" /></li>
            {% endfor %}
        </ul>

        <label>Code:</label>
        {% for key, code in snippet.codes %}
            <div>
                <input type="text" name="snippet[codes][{{ key }}][name]" value="{{ code.name }}" />
                <select name="snippet[codes][{{ key }}][language]">
                    {% for langname, fullname in languages|sort %}
                        {% set selected = '' %}
                        {% if langname == code.language %}
                            {% set selected = 'selected="selected"' %}
                        {% endif %}
                        <option value="{{ langname }}" {{ selected|raw }}>{{ fullname }}</option>
                    {% endfor %}
                </select><br />
                <textarea name="snippet[codes][{{ key }}][content]">{{ code.content }}</textarea>
            </div>
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            {% if snippet.id is defined %}
                <a class="btn" href="/show/{{ snippet.id }}">Cancel</a>
            {% else %}
                <a class="btn" href="/">Cancel</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
