{% extends "layout.html.twig" %}

{% block content %}
    {% if snippet.id is defined %}
        <form method="post" action="/edit/{{ snippet.id }}">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="snippet[id]" value="{{ snippet.id }}" />
    {% else %}
        <form method="post" action="/add">
    {% endif %}

        <label for="snippet[title]">Title:</label>
        <input type="text" name="snippet[title]" value="{{ snippet.title }}" />

        <label for="snippet[language]">Language:</label>
        <select name="snippet[language]">
            {% for language in languages %}
                {% set selected = '' %}
                {% if language == snippet.language %}
                    {% set selected = 'selected="selected"' %}
                {% endif %}
                <option value="{{ language }}" {{ selected | raw }}>{{ language }}</option>
            {% endfor %}
        </select>

        <label for="snippet[code]">Code:</label>
        <textarea name="snippet[code]">{{ snippet.code }}</textarea>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            {% if snippet.id is defined %}
                <a class="btn" href="/show/{{ snippet.id }}">Cancel</a>
            {% else %}
                <a class="btn" href="/">Cancel</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
