{% extends "layout.html.twig" %}

{% macro keyword_input(value) %}
    <li {% if value == "" %}id="tpl-keyword"{% endif %}>
        <input
            type="text"
            name="snippet[keywords][]"
            value="{{ value }}"
            placeholder="Keywords…"
        />
    </li>
{% endmacro %}

{% macro code_input(id, languages, code) %}
    <div class="snippet-codes" {% if code.content == "" %}id="tpl-code"{% endif %}>
        <input
            type="text"
            name="snippet[codes][{{ id }}][name]"
            value="{{ code.name }}"
            placeholder="Filename…"
        />
        <select name="snippet[codes][{{ id }}][language]">
            {% for langname, fullname in languages|sort %}
                {% set selected = '' %}
                {% if langname == code.language %}
                    {% set selected = 'selected="selected"' %}
                {% endif %}
                <option value="{{ langname }}" {{ selected|raw }}>{{ fullname }}</option>
            {% endfor %}
        </select><br />
        <textarea name="snippet[codes][{{ id }}][content]" placeholder="Code…">{{ code.content }}</textarea>
    </div>
{% endmacro %}

{% block content %}
    {% if snippet.id is defined %}
        <form method="post" action="/edit/{{ snippet.id }}">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="snippet[id]" value="{{ snippet.id }}" />
    {% else %}
        <form method="post" action="/add">
    {% endif %}

        <input
            type="text"
            name="snippet[title]"
            value="{{ snippet.title }}"
            placeholder="Snippet title…"
        />

        <ul class="tags">
            {% for keyword in snippet.keywords %}
                {{ _self.keyword_input(keyword) }}
            {% endfor %}
        </ul>
        {% block keyword_input %}{% endblock %}

        {% for id, code in snippet.codes %}
            {{ _self.code_input(id, languages, code) }}
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            {% if snippet.id is defined %}
                <a class="btn" href="/show/{{ snippet.id }}">Cancel</a>
            {% else %}
                <a class="btn" href="/">Cancel</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
