{% extends "layout.html.twig" %}

{% block content %}
    {% if snippet.id is defined %}
        <form method="post" action="/edit/{{ snippet.id }}">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="snippet[id]" value="{{ snippet.id }}" />
    {% else %}
        <form method="post" action="/add">
    {% endif %}

        <input
            type="text"
            name="snippet[title]"
            value="{{ snippet.title }}"
            placeholder="Snippet title…"
        />

        <ul class="tags">
            {% for keyword in snippet.keywords %}
                <li>
                    <input
                        type="text"
                        name="snippet[keywords][]"
                        value="{{ keyword }}"
                        placeholder="Keywords…"
                    />
                </li>
            {% endfor %}
        </ul>

        {% for code in snippet.codes %}
            <div class="snippet-codes">
                <input
                    type="text"
                    name="snippet[codes][][name]"
                    value="{{ code.name }}"
                    placeholder="Filename…"
                />
                <select name="snippet[codes][][language]">
                    {% for langname, fullname in languages|sort %}
                        {% set selected = '' %}
                        {% if langname == code.language %}
                            {% set selected = 'selected="selected"' %}
                        {% endif %}
                        <option value="{{ langname }}" {{ selected|raw }}>{{ fullname }}</option>
                    {% endfor %}
                </select><br />
                <textarea name="snippet[codes][][content]" placeholder="Code…">{{ code.content }}</textarea>
            </div>
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            {% if snippet.id is defined %}
                <a class="btn" href="/show/{{ snippet.id }}">Cancel</a>
            {% else %}
                <a class="btn" href="/">Cancel</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
