{% extends "layout.html.twig" %}

{% block content %}
    {% if snippet.id is defined %}
        <form method="post" action="/edit/{{ snippet.id }}">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="snippet[id]" value="{{ snippet.id }}" />
    {% else %}
        <form method="post" action="/add">
    {% endif %}

        <label for="snippet[title]">Title:</label>
        <input type="text" name="snippet[title]" value="{{ snippet.title }}" />

        <label for="snippet[language]">Language:</label>
        <select name="snippet[language]">
            {% for langname, fullname in languages|sort %}
                {% set selected = '' %}
                {% if langname == snippet.language %}
                    {% set selected = 'selected="selected"' %}
                {% endif %}
                <option value="{{ langname }}" {{ selected|raw }}>{{ fullname }}</option>
            {% endfor %}
        </select>

        <label for="snippet[language][0]">Keywords:</label>
        <ul class="tags">
            {% for key, keyword in snippet.keywords %}
                <li><input type="text" name="snippet[keywords][{{ key }}]" value="{{ keyword }}" /></li>
            {% endfor %}
        </ul>

        <label for="snippet[code]">Code:</label>
        <input type="text" name="snippet[code][name]" value="{{ snippet.code.name }}" /><br />
        <textarea name="snippet[code][content]">{{ snippet.code.content }}</textarea>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            {% if snippet.id is defined %}
                <a class="btn" href="/show/{{ snippet.id }}">Cancel</a>
            {% else %}
                <a class="btn" href="/">Cancel</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
