{% extends "layout.html.twig" %}

{% block content %}
    <a href="/add" class="btn">Add</a>

    <div id="search" class="control-group">
        <div class="controls">
            <div class="input-append">
                <form method="get" action="/search">
                    <input class="span4" name="q" type="text" placeholder="Search…" value="{{ q }}" />
                    <span class="add-on"><a href="#" class="icon-search" rel="popover"> </a></span>
                    <div class="help">
                        <ul class="unstyled">
                            <li><span class="muted">word</span> search a word in the title or in the code</li>
                            <li><span class="muted">[tag]</span> search a specific tag</li>
                            <li><span class="muted">"word here"</span> search exact words</li>
                            <li><span class="muted">code:strlen"</span> search word in the code</li>
                            <li><span class="muted">"title:create a file"</span> search exact words in the title</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="snippets">
        {% if pager.getCount() > 0 %}
            <ul>
                {% for snippet in pager.collection %}
                    <li>
                        <a href="/show/{{ snippet.id }}">{{ snippet.title }}</a>
                        <ul class="tags">
                            {% for keyword in snippet.keywords %}
                                <li><a href="/search?q=[{{ keyword }}]" class="label label-info">{{ keyword }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            {% include "pager.html.twig" %}
        {% else %}
            <div class="alert alert-info">
                No snippet found.
            </div>
        {% endif %}
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>

    <script type="text/javascript">
        $("[rel=popover]").popover({
            html: true,
            title: "Help",
            trigger: "manual",
            placement: "bottom",
            content: $("#search .help").html()
        });

        $("input[name=q]").focusin(function() {
            $("a[rel=popover]").popover('show');
        });
        $("input[name=q]").focusout(function() {
            $("a[rel=popover]").popover('hide');
        });
    </script>
{% endblock %}
