{% extends "layout.html.twig" %}

{% block content %}
    <a href="/add" class="btn btn-default">Add</a>

    <div id="search" class="control-group">
        <div class="controls">
            <div class="input-append">
                <form method="get" action="/search">
                    <div class="input-group">
                        <input class="span4 form-control" name="q" type="search" placeholder="Search…" value="{{ q }}" />
                        <span class="input-group-addon"><a href="#" class="fa fa-search" rel="popover"> </a></span>
                    </div>
                    <div class="help">
                        <ul class="list-unstyled">
                            <li><p><span class="text-muted">word</span> search a word in the title or in the code</p></li>
                            <li><p><span class="text-muted">[tag]</span> search a specific tag</p></li>
                            <li><p><span class="text-muted">"word here"</span> search exact words</p></li>
                            <li><p><span class="text-muted">code:strlen"</span> search word in the code</p></li>
                            <li><p><span class="text-muted">"title:create a file"</span> search exact words in the title</p></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="snippets">
        {% if pager.count > 0 %}
            <ul class="list-unstyled">
                {% for snippet in pager.iterator %}
                    <li>
                        <a href="/show/{{ snippet.id }}">{{ snippet.title }}</a>
                        <ul class="tags">
                            {% for keyword in snippet.keywords %}
                                <li><a href="/search?q=[{{ keyword }}]" class="label label-info">{{ keyword }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            {% include "pager.html.twig" %}
        {% else %}
            <div class="alert alert-info">
                No snippet found.
            </div>
        {% endif %}
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $("[rel=popover]").popover({
            html: true,
            title: "Help",
            trigger: "manual",
            placement: "bottom",
            content: $("#search .help").html()
        });

        $("input[name=q]").focusin(function() {
            $("a[rel=popover]").popover('show');
        });
        $("input[name=q]").focusout(function() {
            $("a[rel=popover]").popover('hide');
        });
    </script>
{% endblock %}
