{% extends "layout.html.twig" %}

{% block content %}
    <div class="snippet">
        <h2>
            {{ snippet.title }}
            <a href="/show/{{ snippet.id }}" title="Link"><i class="icon-share"> </i></a>
            <a href="/edit/{{ snippet.id }}" title="Edit"><i class="icon-edit"> </i></a>
            <a href="/delete/{{ snippet.id }}" title="Delete"><i class="icon-remove"> </i></a>
        </h2>

        {% if snippet.keywords is not empty %}
            <ul class="tags">
                <li><i title="Keywords" class="icon-tag"> </i></li>
                {% for keyword in snippet.keywords %}
                    <li><span class="label label-info">{{ keyword }}</span></li>
                {% endfor %}
            </ul>
        {% endif %}

        <h3>{{ snippet.code.name }}</h3>
        {{ snippet.code.source|raw }}
    </div>
{% endblock %}
