{% extends "layout.html.twig" %}

{% block content %}
    <div class="snippet">
        <h1>
            {{ snippet.title }}
            <a href="/show/{{ snippet.id }}" title="Link"><i class="icon-share"> </i></a>
            <a href="/edit/{{ snippet.id }}" title="Edit"><i class="icon-edit"> </i></a>
            <a href="/delete/{{ snippet.id }}" title="Delete"><i class="icon-remove"> </i></a>
        </h1>
        <pre>{{ snippet.code }}</pre>
    </div>
{% endblock %}
